html{
  font-family: Merienda;
  background-color: #63646d;
  background-image: url(../images/nature3.jpg);
  background-attachment: fixed;
  background-size: cover;
}

body{
  width: 600px;
  margin: 40px auto;
  background-color: rgba( 255, 228, 225,0.5);
  padding: 0 20px 20px 20px;
  /* border: 3px solid black; */
}

h1{
  font-family: Calligraffitti;
  width: 500px;
  margin: 0 auto;
  padding: 20px 0;
  color: purple;
  text-shadow: 3px 3px 1px pink;
  font-size: 70px;
  text-decoration: underline;
}

h2{
  font-family: Merienda;
  color: #ff00e7;
  font-size: 20px;
text-decoration: line-through;
}

p,li{
  font-size: 16px;
 line-height: 2;
 letter-spacing: 1px;
  color: black;
}

img{
display: block;
margin: 0 auto;
/* border-style: solid; */
border-radius: 10%;
}

#button{
background-color: rgba(186,  85, 211, 0.5);
width: 80px;
padding: 20px;
margin: 0 auto;
border-radius: 15%;
}

#button:hover{
  background-color: rgba(128,0,32,0.5);
  cursor: pointer;
}
