h1{
  font-family: Calligraffitti;
  width: 500px;
  margin: 0 auto;
  padding: 20px 0;
  color: purple;
  text-shadow: 3px 3px 1px pink;
  font-size: 70px;
  text-decoration: underline;
}

p,li{
  font-size: 16px;
 line-height: 2;
 letter-spacing: 1px;
  color: black;
}

img{
display: block;
margin: 0 auto;
border-style: solid;
border-radius: 10%;
}

h2{
  font-family: Merienda;
  color: #0000ff;
  font-size: 20px;
text-decoration: line-through;
}

html{
  font-family: Merienda;
  background-color: #992E8C;
}

body{
  width: 600px;
  margin: 0 auto;
  background-color: #ff5588;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
